/*
!.bashrc
!.gitignore
.config/*
!.config/compton.conf
!.config/i3
!.config/i3lock
!.config/i3status
!.config/wallpaper.png
!.config/lockscreen.png
!.config/
!.fehbg
!.HipChat
!.xinitrc
!.Xdefaults
!.vimrc
!.vim_runtime
.vim_runtime/temp_dirs/*
!.local/share/fonts
